
/* color palette from <https://github.com/vuejs/theme> */
:root {
    --c-white: #ffffff;
    --c-white-soft: #fcfcfc;
    --c-white-strong-text: hsl(192, 8%, 87%);

    --c-black: #222222;
    --c-black-soft: #566062;
    --c-black-strong-text: hsl(192, 8%, 13%);

    --c-title-text: #0089b2;
    --c-button-border: #006498;
    --c-button-background: linear-gradient(90deg, #006498 0%, #00b8d4 100%);
    --c-button-hover-background: linear-gradient(90deg, #fedc00 0%, #ff8c50 100%);

    --d-page-width: 1150px;
    --d-button-under-page: 200px;
}

/* semantic color variables for this project */
@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--c-white);
        --color-background-soft: var(--c-white-soft);

        --color-text: var(--c-black);
        --strong-text: var(--c-black-strong-text);
        --title-text: var(--c-title-text);

        --button-background: var(--c-button-background);
        --button-hover-background: var(--c-button-hover-background);
        --button-hover-text-color: var(--c-title-text)
    }
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --color-background: var(--c-black);*/
/*        --color-background-soft: var(--c-black-soft);*/

/*        --color-text: var(--c-white-soft);*/
/*        --strong-text: var(--c-white-strong-text);*/
/*        --title-text: var(--c-title-text);*/

/*        --button-background: var(--c-button-background);*/
/*        --button-hover-background: var(--c-button-hover-background);*/
/*        --button-hover-text-color: var(--c-title-text)*/
/*    }*/
/*}*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    padding: 0;
    margin: 0;

    font-size: 18px;
    font-family: 'Mulish-Extra-Bold', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
}
